* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  width: 100%;
  padding: 0 10px;
  display: block;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  display: grid;
  grid-template-rows: repeat(2, 0.5fr);
  grid-gap: 4em;
  padding-right: 5em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: left;
  background-color: #f1f1f1;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 10px 20px 0 #9352ae;
}

.card {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 40%;
}
.card h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: black;
}
.card p {
  font-size: 1em;
  color: black;
}
.card a {
  text-decoration: none;
  color: black;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
  }
  .card h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
  }
  .card p {
    font-size: 3em;
  }
  .row {
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-gap: 5em;
    padding-right: 0em;
  }
  .card a {
    font-size: 2em;
  }
  .card {
    width: 85em;
    margin-right: 2em;
  }
}
