@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap");

body {
  font-size: 16px;
  background: white;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  z-index: 1;
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  color: black;
  top: 4em;
}
.heading-background {
  position: fixed;
  opacity: 0.05;
  font-size: 20em;
  left: 0.2em;
  top: -0.5em;
  z-index: -100;
  color: #9352ae;
}

header h1 {
  font-size: 1em;
  font-weight: 400;
  padding: 2em;
  text-align: center;
}
nav {
  position: fixed;
  z-index: 100;
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  top: 0em;
}
nav li {
  display: inline-block;
  flex-direction: row;
  cursor: pointer;
}
nav li .link {
  text-decoration: none;
  color: #ffffff;
  padding: 2em;
  padding-bottom: 1em;
  opacity: 1;
}
@media only screen and (max-width: 1200px) {
  nav li .link {
    text-decoration: none;
    color: #ffffff;
    padding: 1.5em;
    padding-bottom: 1em;
    opacity: 1;
  }
}
nav li .active {
  background-color: white;
  color: blueviolet;
}
nav li :hover {
  color: blueviolet;
}
nav .logo {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.resumeButton {
  background: black;
  border: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3em;
  padding-right: 1em;
  font-size: 0.3em;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}
.container {
  margin: 10em;
}

.header-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4em;
  text-align: left;
}
.title-container {
  position: relative;
  margin-left: 10em;
  top: 0em;
  margin-right: 10em;
}
.resume-container {
  position: absolute;
  right: 1em;
  top: -15em;
}
.about {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
}
.about-content {
  position: relative;
}
.about-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  text-align: left;
}
.about-content p {
  font-size: 2em;
  width: 20em;
  text-align: left;
}
.about img {
  margin-left: 2em;
}
.work {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 8em;
  align-items: flex-start;
}
.work .heading {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  text-align: left;
}
.work .work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

.project img {
  width: 30em;
  height: 30em;
}
.project img:hover {
  box-shadow: 0 10px 20px 0 #9352ae;
}

.project h1 a {
  color: black;
}
.project h1 a:hover {
  color: #9352ae;
}

.education {
  text-align: left;
  padding: 0.5em;
}
.education span {
  font-size: 2em;
}

.contact {
  position: relative;
  top: 10em;
  text-align: left;
}
.contact h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 5em;
  text-align: left;
}
.amazing-color {
  color: #9352ae;
  opacity: 1;
}

.contact .email {
  color: black;
  font-size: 2em;
}
.contact li {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1em;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a {
  text-decoration: none;
  color: black;
}
.footer {
  position: relative;
  top: 2em;
  padding: 1em;
}
.footer a {
  text-decoration: none;
  color: #2c59fb;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-device-width: 320px) and (max-width: 800px) {
  body {
    font-size: 6px;
  }
  header h1 {
    font-size: 3em;
    padding: 0.1em;
    margin: 0em;
    margin-right: 1em;
  }
  nav {
    display: none;
  }
  .container {
    margin: 2em;
  }

  .title-container {
    position: relative;
    margin-left: 4em;
    top: 2em;
    margin-right: 2em;
  }

  .resumeButton {
    margin-top: 2em;
    padding-left: 3em;
    font-size: 0.5em;
  }

  .about-content h1 {
    font-size: 8em;
  }

  .heading-background {
    display: none;
  }

  .header-title {
    font-size: 6em;
    text-align: left;
    padding: 0em;
  }
  .about {
    position: relative;
    display: flex;
    top: -70em;
  }

  .about img {
    margin-left: -30em;
    width: 80%;
    height: 80%;
  }
  @media screen and (min-width: 300px) and (max-width: 375px) {
    .about img {
      margin-left: -40em;
      margin-top: 30em;
      width: 80%;
      height: 80%;
      top: 0em;
    }
  }

  @media screen and (max-width: 320px) {
    .about img {
      display: none;
    }
  }

  .about-content {
    left: 2em;
    top: 75em;
  }
  .about-content p {
    font-size: 5em;
    width: 400px;
  }

  .work {
    left: 2em;
    align-items: flex-start;
  }
  .work .heading {
    font-size: 8em;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
  }
  .project img {
    width: 45em;
    height: 45em;
  }
  .project h1 a {
    font-size: 2em;
  }
  .project span {
    font-size: 2em;
  }
  .project {
    text-align: left;
    padding-bottom: 2em;
  }
  .education span {
    font-size: 4em;
  }

  .contact {
    left: 2em;
  }
  .contact h1 {
    font-size: 8em;
  }
  .contact-content h1 {
    font-size: 4em;
  }
  .contact .email {
    font-size: 3.5em;
  }

  .contact li {
    display: block;
    padding: 2em;
  }
  .contact li a {
    font-size: 4em;
  }
  .footer {
    top: 4em;
    padding: 1em;
    font-size: 2em;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 800px) and (max-width: 1000px) {
  body {
    font-size: 10px;
  }
  header h1 {
    font-size: 2em;
    padding: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 5em;
  }

  nav {
    position: fixed;
    z-index: 100;
    background-color: black;
    display: flexbox;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  nav li .link {
    font-size: 1em;
  }
  .header-title {
    font-size: 6em;
    text-align: left;
    top: 1em;
    left: 1em;
  }
  .about {
    position: relative;
    display: flex;
  }
  .about img {
    margin-left: -20em;
    width: 40%;
    height: 80%;
    opacity: 0.5;
    z-index: -100;
    top: 0em;
  }

  .about-content {
    left: 6em;
  }
  .about-content p {
    font-size: 3.5em;
    text-align: left;
    width: 700px;
  }

  .work {
    left: 6em;
    top: 4em;
    align-items: flex-start;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
  }
  .project img {
    width: 30em;
    height: 30em;
  }

  .contact {
    top: 15em;
    left: 6em;
  }
  .contact h1 {
    font-size: 4em;
  }
  .contact .email {
    font-size: 3.5em;
  }

  .contact li {
    display: block;
    padding: 2em;
  }
  .contact li a {
    font-size: 2.5em;
  }
  .footer {
    top: 4em;
    padding: 1em;
    font-size: 2em;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 3000px) {
  /* Styles */

  body {
    font-size: 20px;
  }
  header h1 {
    font-size: 3em;
    margin-right: 25em;
  }

  nav {
    left: 100em;
    top: 12em;
    z-index: 100;
  }
  nav li {
    font-size: 3em;
  }
  .header-title {
    font-size: 5em;
    top: 1em;
    left: 1em;
  }
  .about {
    position: relative;
    display: flex;
    top: -20em;
  }
  .about-content {
    left: 10em;
  }
  .about-content p {
    font-size: 3.5em;
    text-align: left;
    width: 25em;
  }
  .about img {
    margin-left: 1em;
  }

  .work {
    left: 10em;
    top: 4em;
    align-items: flex-start;
  }
  .work .work-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .project img {
    width: 32em;
    height: 32em;
  }

  .contact {
    top: 10em;
    left: 8em;
  }
  .contact h1 {
    font-size: 8em;
  }
  .contact .email {
    font-size: 5em;
  }

  .contact li a {
    font-size: 4em;
    padding: 1em;
  }
  .footer {
    top: 4em;
    padding: 1em;
    font-size: 4em;
  }
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-lg > .table-bordered {
    border: 0;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
@media (max-width: 575.98px) {
  .nav > .container,
  .nav > .container-fluid,
  .nav > .container-sm,
  .nav > .container-md,
  .nav > .container-lg,
  .nav > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 767.98px) {
  .nav > .container,
  .nav > .container-fluid,
  .nav > .container-sm,
  .nav > .container-md,
  .nav > .container-lg,
  .nav > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 991.98px) {
  .nav > .container,
  .nav > .container-fluid,
  .nav > .container-sm,
  .nav > .container-md,
  .nav > .container-lg,
  .nav > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 1199.98px) {
  .nav > .container,
  .nav > .container-fluid,
  .nav > .container-sm,
  .nav > .container-md,
  .nav > .container-lg,
  .nav > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}
@media print {
  .d-print-none {
    display: none !important;
  }

  .d-print-inline {
    display: inline !important;
  }

  .d-print-inline-block {
    display: inline-block !important;
  }

  .d-print-block {
    display: block !important;
  }

  .d-print-table {
    display: table !important;
  }

  .d-print-table-row {
    display: table-row !important;
  }

  .d-print-table-cell {
    display: table-cell !important;
  }

  .d-print-flex {
    display: flex !important;
  }

  .d-print-inline-flex {
    display: inline-flex !important;
  }
}
